In [1]:
import pandas as pd # the Pandas Libraries is imported and aliased 'pd'.

def lower_case(value): 
    print('Here is the value I am processing : ', value)
    return value.lower()

data = pd.DataFrame([['A',1],
                     ['B',2],
                     ['C',3]], columns = ['letter','position'])

new_column = data['letter'].apply(lower_case)
new_column = new_column.values
print(new_column)
data['letter'] = new_column
print(data)

Here is the value I am processing :  A
Here is the value I am processing :  B
Here is the value I am processing :  C
['a' 'b' 'c']
  letter  position
0      a         1
1      b         2
2      c         3

In [2]:
import pandas as pd
import numpy as np
import re

In [27]:
data = pd.read_csv('persons.csv')
print(data)

  first name                                   email  date_of_birth  \
0      Leila                       leila@example.com     23/01/1990
1     Samuel                  samuel_329@example.com     20/09/2001
2     Rodney                choupipoune@supermail.eu  12 sept. 1984
3       Marc  marco23@example.com, mc23@supermail.eu     10/02/1978
4      Harry                 helloworld@supermail.eu     04/25/1975
5      Hanna                 hannah2019@supermail.eu     01/01/1970
6     samuël                  samuel_329@example.com            NaN

      country height
0      France  1.49m
1         NaN  1.67m
2  Madagascar  153cm
3          24  1.65m
4     Germany  1.34m
5      Canada  3.45m
6       Benin  1.45m

# Process Country Names

In [28]:
VALID_COUNTRIES = ['France', 'Madagascar', 'Benin', 'Germany'
                  , 'Canada']
                  
def check_country(country):
    if country not in VALID_COUNTRIES:
        print(' - "{}" is not a valid country, we delete it.' \
            .format(country))
        return np.nan
    return country

# Process Emails

In [29]:
def first(string):
    parts = string.split(',')
    first_part = parts[0]
    if len(parts) >= 2:
        print(' - There are several parts in "{}", we are only keeping {}.'\
            .format(parts,first_part))  
    return first_part

# Process Heights

In [30]:
def convert_height(height):
    found = re.search('\d\.\d{2}m', height)
    if found is None:
        print('{} is not in the right format. It will be ignored.'.format(height))
        return np.nan
    else:
        value = height[:-1] # the last character is removed: 'm'
        return float(value)

def fill_height(height, replacement):
    if pd.isnull(height):
        print('Imputation by the mean : {}'.format(replacement))
        return replacement
    return height

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\DELL\AppData\Local\Temp\ipykernel_8632\2590968028.py:2: SyntaxWarning: invalid escape sequence '\d'
  found = re.search('\d\.\d{2}m', height)

# Apply All Functions

In [31]:
data['email'] = data['email'].apply(first)
data['country'] = data['country'].apply(check_country)
data['height'] = [convert_height(t) for t in data['height']]
data['height'] = [t if t<3 else np.nan for t in data['height']]

mean_height = data['height'].mean()
data['height'] = [fill_height(t, mean_height) for t in data['height']]
data['date_of_birth'] = pd.to_datetime(data['date_of_birth'], 
                                           format='%d/%m/%Y', errors='coerce')
print(data)

 - There are several parts in "['marco23@example.com', ' mc23@supermail.eu']", we are only keeping marco23@example.com.
 - "nan" is not a valid country, we delete it.
 - "24" is not a valid country, we delete it.
153cm is not in the right format. It will be ignored.
Imputation by the mean : 1.52
Imputation by the mean : 1.52
  first name                     email date_of_birth     country  height
0      Leila         leila@example.com    1990-01-23      France    1.49
1     Samuel    samuel_329@example.com    2001-09-20         NaN    1.67
2     Rodney  choupipoune@supermail.eu           NaT  Madagascar    1.52
3       Marc       marco23@example.com    1978-02-10         NaN    1.65
4      Harry   helloworld@supermail.eu           NaT     Germany    1.34
5      Hanna   hannah2019@supermail.eu    1970-01-01      Canada    1.52
6     samuël    samuel_329@example.com           NaT       Benin    1.45